.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build/
**/captures
**/local.properties
**/.DS_Store
**/bin/
**/gen/
**/out/
gradle/
**/*.iml
.idea/
.DS_Store
**/bin/
**/.gen/*
build-small/
app/smallLibs/
app/BuglyUploadLog.txt
node_modules/
buildSrc/
lib.utils/public.txt
